{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}

{% block body %}
    <div id="home-body" class="body">

        <div id="popupOverlay" class="overlay">
            <div class="popup">
                <div class="content"></div>
            </div>
        </div>

        <table id="annonceTable" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th> {# link #}
                    <th>Image</th> {# link #}
                    <th>Titre</th> {# titre + type #}
                    <th>Année</th>
                    <th>Prix</th>
                    <th>Surface</th>
                    <th>Prix/m²</th>
                    <th>Etage</th>
                    <th>Adresse</th>
                    <th>DPE</th> {# DPE + GES #}
                    <th>Carracteristiques</th>
                    <th>Chauffage</th> {# type + source #}
                    <th>Date Ajout</th>
                    <th>Actions</th> {# fav, del, link, detail (photo + desc) #}
                </tr>
            </thead>
            <tbody>
                {% for annonce in annonces %}
                    {% set surfaceCalc = (annonce.prix/annonce.prixSurface??1)|round %}
                    {% set isCorrectPrice = (surfaceCalc > 200 or surfaceCalc == annonce.surface or surfaceCalc+1 == annonce.surface or surfaceCalc-1 == annonce.surface) %}
                    {% set popupHtml %}
                        <div class="col-12" style="position: sticky; top: 0; padding: 5px 15px; background-color: #FFFFFF">
                            <span class="close">&times;</span>
                            <h3>
                                <a href="{{ annonce.lien }}">#{{ annonce.id }}</a> - {{ annonce.titre }}
                            </h3>
                            <span>
                                {{ annonce.createdAt|date('d/m/Y') }} - {{ annonce.prix|number_format(0, '.', ' ') }}€
                                ({{ annonce.prixSurface??((annonce.prix/annonce.surface)|round) }}€/m²)
                                 - {{ annonce.surface }}m² - <strong>Année:</strong> {{ annonce.dateConstruction|date('Y') }}
                                 - <strong>DPE:</strong> {{ annonce.dpe }} - <strong>Etage:</strong> {{ annonce.etage }}/{{ annonce.etageMax }}
                                 - <strong>Chauffage:</strong> {{ annonce.chauffageSource }} ({{ annonce.chauffageType|replace({'Chauffage ': ''}) }})
                                 - <strong>Vendeur:</strong> {{ annonce.annonceur }} - {{ annonce.adresse }}
                                 - {{ include('_caracIcone.html.twig', {'caracteristiques':annonce.caracteristiques,'showBr':false}) }}
                            </span>

                        </div>

                        {% for img in annonce.photos %}
                            <img class='annoncePhoto' src='{{ img.url }}'>
                        {% endfor %}

                        <div class="col-12" style="text-align: center; padding: 20px;">
                            {{ include('_caracIcone.html.twig', {'caracteristiques':annonce.caracteristiques, 'showIcon':false}) }}
                        </div>

                        <listing>
                            {{ annonce.description }}
                        </listing>

                        <div class="col-12" style="text-align: center; padding: 20px;">
                            <button data-id='{{ annonce.id }}' class='btn-sm btn-success accept'><i class='fa-solid fa-check'></i></button>
                            <button data-id='{{ annonce.id }}' class='btn-sm btn-danger remove'><i class='fa-solid fa-xmark'></i></button>
                        </div>
                    {% endset %}

                    <tr data-popup="{{ popupHtml|e('html_attr') }}">
                        <td style="min-width: 120px;"><a href="{{ annonce.lien }}">#{{ annonce.id }}</a></td>
                        <td style="min-width: 140px;">
                            {% if annonce.photos|length > 0 %}
                                <img src="{{ annonce.photos[0].url }}" style="height: 74px; padding: 3px;">
                            {% endif %}
                        </td>
                        <td style="min-width: 250px;">{{ annonce.titre }}</td>
                        <td style="min-width: 60px;">{{ annonce.dateConstruction|date('Y') }}</td>
                        <td style="min-width: 90px;" data-order="{{ annonce.prix }}">{{ annonce.prix|number_format(0, '.', ' ') }}€</td>
                        <td style="min-width: 60px; {{ isCorrectPrice?'':'color: red;' }}" data-order="{{ annonce.surface }}">{{ annonce.surface }}m²{{ isCorrectPrice?'':('<br />'~(annonce.prix/annonce.prixSurface??1)|round~'m²')|raw }}</td>
                        <td style="min-width: 150px; {{ (annonce.prixSurface <= 3900)?'color: green;':(annonce.prixSurface <= 4900)?'color: yellow;':'color: red;' }}" data-order="{{ annonce.prixSurface??((annonce.prix/annonce.surface)|round) }}">
                            {{ annonce.prixSurface??((annonce.prix/annonce.surface)|round) }}€/m²
                        </td>
                        <td style="min-width: 100px; {{ (annonce.etageMax > 4 and annonce.etage >= annonce.etageMax-2)?'color: green;':(annonce.etage <= 1)?'color: red;':'color: yellow;' }}">
                            {{ annonce.etage }} / {{ annonce.etageMax }}
                        </td>
                        <td style="min-width: 200px;">{{ annonce.adresse }}</td>
                        <td style="min-width: 50px; {{ (annonce.dpe in ['A', 'B', 'C'])?'color: green;':(annonce.dpe in ['D', 'E'])?'color: yellow;':'color: red;' }}">{{ annonce.dpe }}<br />{{ annonce.ges }}</td>
                        <td style="min-width: 130px;">
                            {{ include('_caracIcone.html.twig', {'caracteristiques':annonce.caracteristiques}) }}
                        </td>
                        <td style="min-width: 150px;">{{ annonce.chauffageSource }}<br />{{ annonce.chauffageType|replace({'Chauffage ': ''}) }}</td>
                        <td style="min-width: 100px;">{{ annonce.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td style="min-width: 50px;">
                            <button data-id="{{ annonce.id }}" class="btn-sm btn-info info"><i class="fa-solid fa-info"></i></button>
                            {# <button data-id="{{ annonce.id }}" class="btn-sm btn-success accept"><i class="fa-solid fa-check"></i></button> #}
                            {# <button data-id="{{ annonce.id }}" class="btn-sm btn-danger remove"><i class="fa-solid fa-xmark"></i></button> #}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            let table = new DataTable('#annonceTable');

            // Ouvrir la popup
            $('body').on('click', 'button.info', function() {
                $('#popupOverlay').fadeIn(200).addClass('show');
                $('.content').html($(this).parent().parent().data('popup'));
            });

            // Fermer via la croix
            $('.close').on('click', function() {
                $('#popupOverlay').fadeOut(200).removeClass('show');
            });

            // Fermer en cliquant en dehors
            $('#popupOverlay').on('click', function(e) {
                if ($(e.target).is('#popupOverlay')) {
                    $('#popupOverlay').fadeOut(200).removeClass('show');
                }
            });

            // Fermer avec la touche ESC
            $(document).on('keydown', function(e) {
                if (e.key === "Escape") {
                    $('#popupOverlay').fadeOut(200).removeClass('show');
                }
            });
        });


    </script>
{% endblock %}